    ion-label#assetLabel{
    font-size: 20px;
  }
  .gain{
    color: #4bb543;
  }
  .loss{
    color: #ff0033;
  }
  ion-label#lowerCol{
    font-size: 14px;
  }
  ion-col#recFlex{
    display: flex;
    flex-direction: row;
  }
  ion-col#shorten{
    padding-top: 0;
    padding-bottom: 0;
  }
  ion-img#assetLogo::part(image) {
    border-radius: 10px;
  }
  #asset, ion-card{
    margin: 20% 5% 20% 5%;
    background-color: #fff;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.8);
  }
  
  #asset, ion-card.ios {
    margin: 20px 5% 20px 5%;
  }
  
  #asset, ion-card.md {
    margin: 20px 5% 20px 5%;
  }
  div{
    overflow: scroll;
  } 
  