ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #fff));

}

ion-menu::part(container) {
  border-radius: 10px 0 0 10px;

  box-shadow: -5px 0px 20px rgba(0, 0, 0, 0.8);
}
[data-amplify-authenticator] [data-amplify-router]{
    border-radius: 10px 10px 10px 10px;
}
.amplify-tabs-item{
  border-radius: 10px 10px 10px 10px;
}
.amplify-tabs{
  border-radius: 10px 10px 10px 10px;
}
.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
ion-menu.md ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ion-menu.md ion-list {
  padding: 20px 0;
}

ion-menu.md ion-note {
  margin-bottom: 30px;
}

.amplify-button[data-variation='primary'] {
  background: #4bb543;
}

:root {
  --amplify-components-tabs-item-active-color: #000;
  --amplify-components-tabs-item-active-background-color: #ffffff;
  --amplify-components-placeholder-start-color: red;
  --amplify-components-stepperfield-input-color: red;
}

ion-menu.md ion-list#inbox-list {
  border-bottom: 1px solid var(--ion-color-step-150, #d7d8da);
}

ion-menu ion-list#labels-list ion-list-header {
  font-size: 26px;
  margin-bottom: 18px;
  text-align: end;
  min-height: 20px;
  color: #333333;
}
ion-menu.md ion-list#labels-list ion-item {
  font-size: 16px;
  color: #fff;
}

ion-menu.md ion-list#labels-list {
  margin: 0 5px 0 10px
}
ion-item.portfolio {
  --background: rgba(33,33,33,1);
  margin: 15px 0px 15px 20px;
  border-radius: 10px 10px 10px 10px;
}

.ios.portfolio {
  border-radius: 10px 10px 10px 10px;
}
ion-item.md.portfolio {
  border-radius: 10px 10px 10px 10px;
}

ion-menu.md ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
}

ion-menu.md ion-item.selected {
  --background: rgba(var(--ion-color-primary-rgb), 0.14);
}

ion-menu.md ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.md ion-item ion-icon {
  color: #616e7e;
}

ion-menu.md ion-item ion-label {
  font-weight: 500;
}

ion-menu.ios ion-content {
  --padding-bottom: 20px;
}

ion-menu.ios ion-list {
  padding: 20px 0 0 0;
}

ion-menu.ios ion-note {
  line-height: 24px;
  margin-bottom: 20px;
}

ion-menu.ios ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 50px;
}

ion-menu.ios ion-list#labels-list ion-item {
  font-size: 16px;
  color: #fff;
}

ion-menu.ios ion-list#labels-list {
  margin: 0 20px 0 10px
}

ion-menu.ios ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.ios ion-item ion-icon {
  font-size: 24px;
  color: #73849a;
}

ion-menu.ios ion-note {
  margin-bottom: 8px;
}

ion-note {
  display: inline-block;
  font-size: 16px;

  color: var(--ion-color-medium-shade);
}

ion-item.selected {
  --color: var(--ion-color-primary);
}

